body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.message-list {
  margin: 0 auto;
  height: 600px;
  overflow-x: auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.username {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.clear-button {
  margin-left: 15px;
}
