.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.navbar-fixed { 
  z-index: 9999;
}

.brand-logo {
  margin-left: 10px;
}

.message-list {
  margin: 0 auto;
  height: 600px;
  overflow-x: auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

.username {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.clear-button {
  margin-left: 15px;
}
